* {
   box-sizing: border-box;
   font-family: 'Lobster', cursive;
}

body {
   background-color: gray;
   margin: 0;
}

/* Header */
.header {
   position:fixed;
   top:0;
   width:100%;
   text-transform: uppercase;
   background-color:  rgb(128, 179, 128);
   padding: 12px 10px;
   display: flex;
   justify-content: flex-end;
   z-index:10;
}


.header a {
   color: black;
   padding: 10px;
   text-decoration: none;
   text-align: center;
   border-radius: 4px;
}

.header a:hover {
   background-color: #ddd;
}


/* Home */
.home {
   position: relative;
   color: rgb(97, 135, 216);
   background-image: url(/2._CSS/2.8_Eindopdracht/images/cooking.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 500px;
   z-index: 1;
}


.home:after {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   background-color: black;
   width: 100%;
   height: 100%;
   opacity: 0.7;
   z-index: -1;
}

.home-text {
   width: 350px;
   height: 200px;
   top: 20%;
   right: 30%;
   position: absolute;
}

.home-text h1 {
   font-size: 3em;
   margin-bottom: 0px;
   margin-top: 0px;
}

.b1, .b2 {
   background-color: rgba(1, 1, 1, 0);
   border: 1px solid rgb(128, 179, 128);
   color: rgb(97, 135, 216);
   text-transform: uppercase;
   text-align: center;
   border-radius: 2px;
   margin: 4px 10px;
   cursor: pointer;
   width: 150px;
}

.b1 {
   padding: 7px 45px;
}

.b2 {
   color: rgb(128, 179, 128);
   padding: 7px 30px;
}

button>h5 {
   margin: 0px;
}

button:hover {
   background-color: rgb(128, 179, 128);
   color: black;
   transition: 1s;
}


/* Populaire gerechten */
.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.title-div {
   text-align: center;
   font-size: 50px;
}

.img-pasta {
   display: flex; 
}
.pasta {
   margin: 10px;
   width: 250px;
}
.pasta img {
width: 200px;
margin: auto;
border-radius: 50%;
}

.title-pasta {
   font-size: 20px;
   font-weight: 600;
}

.price{
   float: right;
}

.show {
font-weight: 600;
text-align: right;
}

/* Menu */
.menu-container {
   display: flex;
   justify-content: center;
}

.chef {
   display: flex;
   align-items: flex-end;
}
.flex-menu {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   width: 1100px;
}
.menu1 {
   width: 350px;
   padding: 20px;
   padding-left: 30px;
   padding-right: 30px;
}

.menu1 p {
   margin: 0px;
}

/* Contact */
footer {
   background-color:  rgb(128, 179, 128);
   color: rgb(97, 135, 216);
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.foot {
   width: 288px;
}

.open {
   margin-right: 0px;
}

footer ul {
   list-style-type: none;
}

footer ul li a {
   text-decoration: none;
   color: rgb(97, 135, 216);
}

/* Header */
@media (max-width: 768px) {
   .header {
   justify-content: center;
   }
}

/* Home */
   
@media (max-width: 992px) {
.home {
   display: flex;
}
   .home-text {
      width: 50%;
      text-align: center;
   }
}

@media (max-width: 800px) {
   .home {
      margin: auto;
   }
}

/* Menu */
@media (max-width: 768px) {
   .chef {
      display: none;
   }
}

@media (max-width: 576px) {
   .pasta {
      width: 300px;
   }
}

/* Contact */
@media (max-width: 576px) {
   footer {
      /* justify-content: center; */
      /* margin: auto; */
      text-align: center;
   }
}