// This file contains all styles related to the header of the site/application.

@import "./base";

.header {
   box-sizing: border-box;
   position: fixed;
   top: 0;
   width: 100%;
   text-transform: uppercase;
   background-color:  $primary-color;
   padding: 10px;
   display: flex;
   justify-content: flex-end;
   z-index: 10;
   & a {
      color: black;
      padding: 10px;
      text-decoration: none;
      text-align: center;
      border-radius: 4px;
      &:hover {
         background-color: #ddd;
      }
   }
}

