@media only screen and (max-width: 992px) {
      .home {
      margin: auto;
      display: flex;
      &-text {
         width: 50%;
         text-align: center;
      }
   }
   .menu-chef {
      display: none;
   }
}


@media only screen and (max-width: 576px) {
   .home {
      justify-content: center;
      align-items: center;
      &-text {
         position: static;
      }
   }

   .header {
      justify-content: center;
   }

   .pasta {
      width: 300px;
   }

   .footer {
      & ul{
         padding: 0px;
      }
      &-open {
      display: flex;
      justify-content: center;
      }
   }
}







/* Contact */
@media (max-width: 576px) {
   footer {
      justify-content: center;
      margin: auto;
      text-align: center;
   }
}